body {
  background-color: #70c7c0;
}
.wrapper {
  display: flex;
}
.navigation {
  float: left;
  width: 15%;
  display: flex;
}
.main {
  width: 85%;
  float: left;
  align-items: center;
  text-align: center;
}
h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
